@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 194, 108);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

form input,
form button,
select {
  border: none;
  padding: 0.5rem;
  background-color: white;
  font-size: 1rem;
  outline: none;
}

form button {
  cursor: pointer;
  transition: all 0.5s ease;
  color: rgb(110, 43, 54);
}

form button:hover {
  background-color: rgb(110, 43, 54);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  color: black;
  margin: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.trash-button,
.complete-button {
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: rgb(170, 30, 30);
  color: white;
}

.complete-button {
  background-color: green;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0.5;
}

/* Select Styles */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select {
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  color: white;
  background-color: rgb(228, 141, 141);
  padding: 1rem;
  transition: all 0.3s ease;
}

/* Responsive Styles */
@media screen and (max-width: 640px) {
  .container {
    padding: 0.5rem;
  }
  
  .todo-list {
    min-width: 80%; /* Adjusted for smaller screens */
  }
}